* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #7F7063;
    font-family: inconsolata, arial;
}

#top-nav {
    margin: 0;
    padding: 0;
    height: 75px;
    background-color: #1C1612;
}

#top-nav ul {
    margin-left: 20%;
    margin-right: 20%;
}

#top-nav ul li {
    margin: 0;
    padding: 25px;
    display: inline-block;
    text-decoration: none;
    height: 25px;
    text-align: center;
    color: ghostwhite;
}

#top-nav ul li a{
    margin: 0;
    padding: 0;
    color: white;
    font-size: 20px;
    text-decoration: none;

}

header {
    margin: 0;
    padding: 0;
    height: 200px;
    width: auto;
    background-color: #083E2C;
}

#pagecenterer  {
    margin: 0;
    padding: 0;
    margin-top: 1%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 15%;
    height: 1000px;
    max-height: 2000px;
    width: 70%;
}

nav {
    margin: 0;
    padding: 0;
    float: left;
    clear: all;
    height: auto;
}

ul.nav {
    margin: 0;
    padding: 0;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    background-color: #795029;
    list-style: none;
    border-radius: 15px;
}

ul.nav li {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul#nested {
    margin: 0;
    padding: 0 0 0 20px;
}

ul#nested li {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul#nested li a {
    margin: 0;
    padding: 0;
    color: #8C6038;
}

ul#nested li a:hover {
    margin: 0;
    padding: 0;
    color: whitesmoke;
}

ul.nav li a {
    margin: 0;
    padding: 0;
    font: arial;
    font-size: 12px;
    font-weight: 800;
    color: #3C2714;
    text-decoration: none;
}

ul.nav li a:hover {
    color: white;
}

#langswitch {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    margin-left: 10px;
    list-style: none;
}

#langswitch li {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-right: 1%;
}

.en-flag {
    margin: 0;
    padding: 0;
    display: block;
}

.nl-flag {
    margin: 0;
    padding: 0;
    display: block;
}

.content {
    margin: 0px;
    padding: 0px;
    float: right;
    clear: all;
    max-width: 550px;
    margin-top: 4%;
    line-height: 1.5;
    color: #002561;
}

.content h2 {
    margin: 0;
    padding: 0;
    color: #57C4FF;
}

.content table {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.content ol {
    margin: 0;
    padding: 0 0 0 20px;
    color: #002561;
}

.content ul {
    margin: 0;
    padding: 0 0 0 20px;
    color: #002561;
}

.content ol li ul {
    margin: 0;
    padding: 0 0 0 40px;
}

footer {
    margin: 0;
    padding: 2px;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 50px;
    background-color: #706257;
    border-radius: 10px 10px 0px 0px;
}

footer a {
    margin: 0;
    padding: 0;
    display: inline-block;
    text-decoration: none;
    font-family: arial;
    color: #251E14;
    font-size: 14px;
}

footer a:hover {
    color: #452d2b;
}

footer h5 {
    margin: 18px 0px 18px 30px;
    padding: 0;
    display: inline-block;
    font-family: arial;
    color: #251E14;
}
